{% extends "base.html" %}

{% block content %}



    <div class="card mt-4">

        <div class="card-body">

            <center><h4>Exercicios de xadrez</h4>

            <p>
                Em desenvolvimento.
            </p></center>

        </div>

    </div>

  
    <br>

    <div id="board" style="max-width: 600px; width: 100%;"></div>

    <script type="module">

    import { Chess } from '/static/js/chess.js';

    const game = new Chess();

    const board = Chessboard('board', {
        position: 'start',
        draggable: true,
        pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',

        onDrop: function(source, target) {

            const move = game.move({
                from: source,
                to: target,
                promotion: 'q'
            });

            if (move === null) {
                return 'snapback';
            }
        },

        onSnapEnd: function() {
            board.position(game.fen());
        }
    });

    </script>

{% endblock %}